langchain
langchain-google-genai
langchain-openai
langchain-core
langchain_community
docx2txt
pypdf
langchain_chroma
python-multipart
streamlit
streamlit-chat
streamlit-extras
chinese-calendar
lunardate
sentence-transformers